/ Replace the updated comment
= turbo_stream.replace "comment_#{@comment.id}" do
  = render partial: 'comments/reader_comment', locals: { comment: @comment, depth: @comment.parent.is_a?(Article) ? 0 : 1 }
