/ HTML embedded in the ActivityPub Page we federate for an Article.
/ Rendered by Article#federate! and stored in articles.federated_content, which the
/ Fedify sidecar serves as the object `content`. Locals: article, host.
- metazine_url = "https://#{host}/reader/#{article.id}"
- if article.image_url.present?
  p
    = link_to metazine_url do
      = image_tag article.image_url, alt: article.title
- if article.source_name.present?
  p
    - if article.url.present?
      = link_to article.source_name, article.url
    - else
      = article.source_name
- if article.title.present?
  p
    = link_to metazine_url do
      strong = article.title
