<div
  data-controller="vits"
  data-vits-text-value="The wolf-like golden jackal still thrives in some parts of India’s financial capital, Mumbai, according to a new study, reports contributor Sneha Mahale for Mongabay India. Historically, the golden jackal (Canis aureus) could be spotted in several areas of southern Mumbai, study co-author Nikit Surve, research manager at Wildlife Conservation Society-India told Mongabay India."
  data-vits-voice-id-value="en_US-hfc_female-medium"
>
  <button data-action="click->vits#generateSpeech">Generate Speech</button>
</div>
