@use "../mixins/media";

.frontpage {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  // row-gap: var(--column-gap);
  row-gap: var(--space-xl);
  padding-bottom: var(--space-m);

  @include media.media(tabletAndUp) {
    padding-bottom: 0;

    display: grid;

    grid-template-columns: repeat(6, 1fr);
    column-gap: var(--space-m);

    grid-template-rows: repeat(8, var(--space-7xl));
    row-gap: var(--space-xl);

    grid-template-areas:
      "A A A B C C"
      "A A A B C C"
      "A A A B C C"
      "D D D D C C"
      "D D D D C C"
      "D D D D C C"
      "D D D D C C"
      "D D D D C C";
  }
}

// NOTE: column-start, column-end, row-start, row-end TAKE IN LINE NUMBERS (not column numbers)
@include media.media(tabletAndUp) {
  .item-a {
    grid-area: A;
  }

  //  in it's own file
  .item-e {
    grid-area: E;
  }
}

.item-b {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-left: var(--border);
  border-radius: var(--border-radius);
  padding-left: var(--space-s);
  padding-top: var(--space-s);
  row-gap: var(--space-xl);

  @include media.media(tabletAndUp) {
    grid-area: B;
    row-gap: var(--space-l);
    padding-top: 0;
  }
}

.item-c {
  grid-area: C;
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);

  @include media.media(tabletAndUp) {
    .item-c {
      grid-area: C;
      justify-content: space-between;
    }
  }
}

.item-d {
  display: flex;
  row-gap: var(--space-xxl);
  flex-direction: column;

  @include media.media(tabletAndUp) {
    grid-area: D;
    flex-direction: row;
    row-gap: var(--space-xxxl);
    column-gap: var(--space-m);
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: var(--space-m);

    .article {
      // width: 50% !important;
      width: calc(50% - var(--space-m) / 2) !important;
    }

    .without_image {
      height: 30% !important;
    }

    .with_image {
      height: 70% !important;
    }
  }
}
