@use "../mixins/media";

.list_view_desktop {
  display: none;

  @include media.media(tabletAndUp) {
    display: flex;
    flex-direction: column;
    padding-left: 17%;
    padding-right: 17%;
    gap: var(--space-m);
  }
}

.list_view_mobile {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);

  @include media.media(tabletAndUp) {
    display: none;
  }
}

.list_view {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);

  @include media.media(tabletAndUp) {
    padding-left: 17%;
    padding-right: 17%;
    // gap: var(--space-m);
  }
}
