@use "../mixins/media";

.list_view {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);

  .content_container {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
  }

  .source_title {
    color: var(--color-text-muted);
    opacity: 0.3;

    @include media.media(tabletAndUp) {
      word-spacing: 50vw; // This will force each word to be on a new line
      text-align: right;
    }
  }

  .bottom-pagy {
    margin-right: 0.7rem !important;
    margin-bottom: 0.7rem !important;
  }

  @include media.media(tabletAndUp) {
    display: grid;
    // grid-template-columns: repeat(6, 1fr);
    grid-template-columns: [left-edge] 1fr [gap1] 1fr [gap2] 1fr [gap3] 1fr [gap4] 1fr [gap5] 1fr [right-edge];
    grid-template-rows: [top-edge] auto [gap1] auto [gap2] auto [bottom-edge];
    column-gap: var(--column-gap);

    .pagy_container {
      // grid-column: left-edge / gap1;
      grid-column: gap5 / right-edge;
      grid-row: top-edge / gap1;
    }

    .content_container {
      // grid-column: <start-line> / <end-line> | <start-line> / span <value>;
      // grid-area: <name> | <row-start> / <column-start> / <row-end> / <column-end>;
      grid-column: gap1 / gap5;
      grid-row: top-edge / bottom-edge;
      display: flex;
      flex-direction: column;
      gap: var(--space-m);
      margin-bottom: 1rem;
    }
  }
}
