@use "../mixins/media";

.list_view_desktop {
  display: none;

  @include media.media(tabletAndUp) {
    display: flex;
    flex-direction: column;
    padding-left: 17%;
    padding-right: 17%;
    gap: var(--space-xxxl);
  }
}

.list_view_mobile {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
  
  @include media.media(tabletAndUp) {
    display: none;
  }
}

.truncate-overflow {
  --max-lines: 3;
  max-height: calc(var(--line-height-reader) * var(--max-lines));
  overflow: hidden;
}