.page_grid {
  width: 100%;
  height: auto;
  // border-bottom: 1px dashed var(--color-glint);
  // padding: var(--space-l);

  @include media(tabletAndUp) {
    display: grid;

    grid-template-columns: repeat(6, 1fr);
    column-gap: var(--space-m);

    grid-template-rows: repeat(8, 120px);
    row-gap: var(--space-m);
  }
}

// NOTE: column-start, column-end, row-start, row-end TAKE IN LINE NUMBERS (not column numbers)
@include media(tabletAndUp) {
  .item-a {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .source_info {
    grid-column: span 2;
    grid-row: span 2;
  }

  .item-b {
  //  in it's own file
  }

  .item-c {
  //  in it's own file
  }

  .item-d {
  //  in it's own file
  }

  .item-e { 
  //  in it's own file
  }
}