@use "../mixins/media";

.page {
  background-color: var(--color-white);
  padding: var(--space-s);

  .index {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
  }

  @include media.media(tabletAndUp) {
    padding: var(--space-xl);
    width: 66vw;
    min-height: 100vh;
    height: auto;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
}

.background {
  width: 100%;
  height: 100%;
  background-color: var(--color-background);
}
