.page_header {
  width: 100%;
  height: 250px;
  padding-bottom: var(--space-xxl);
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page_header_split {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch;
}

.page_header_split_half {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}