@use "../mixins/media";

.page_grid {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: var(--column-gap);

  @include media.media(tabletAndUp) {
    display: grid;

    grid-template-columns: repeat(6, 1fr);
    column-gap: var(--space-m);

    grid-template-rows: repeat(8, var(--space-7xl));
    row-gap: var(--space-xl);

    grid-template-areas:
      "A A A B C C"
      "A A A B C C"
      "A A A B C C"
      "D D D D C C"
      "D D D D C C"
      "D D D D C C"
      "D D D D C C"
      "D D D D C C";
  }
}

// NOTE: column-start, column-end, row-start, row-end TAKE IN LINE NUMBERS (not column numbers)
@include media.media(tabletAndUp) {
  .item-a {
    grid-area: A;
    // grid-column-start: 1;
    // grid-column-end: 4;
    // grid-row-start: 1;
    // grid-row-end: 4;
  }

  .item-b {
    //  in it's own file
    grid-area: B;
  }

  .item-c {
    grid-area: C;
    display: flex;
    flex-direction: column;
    row-gap: var(--space-l);

    @include media.media(tabletAndUp) {
      row-gap: var(--space-xl);
      justify-content: space-between;
    }

    .one_third {
      max-height: 33.33%;
    }
  }

  .item-d {
    grid-area: D;
    display: flex;
    row-gap: var(--space-xl);
    column-gap: var(--space-m);

    @include media.media(tabletAndUp) {
      flex-wrap: wrap;
      justify-content: space-between;
      padding-top: var(--space-m);

      .article {
        // width: 50% !important;
        width: calc(50% - var(--space-m) / 2) !important;
      }

      .without_image {
        height: 30% !important;
      }

      .with_image {
        height: 70% !important;
      }
    }
  }

  .item-e {
    //  in it's own file
    grid-area: E;
  }
}
