@use "../mixins/media";

.page_grid {
  width: 100%;
  height: auto;
  // border-bottom: var(--border);
  // padding: var(--space-l);
  display: flex;
  flex-direction: column;
  row-gap: var(--space-l);

  @include media.media(tabletAndUp) {
    display: grid;

    grid-template-columns: repeat(6, 1fr);
    column-gap: var(--space-m);

    grid-template-rows: repeat(8, var(--space-7xl));
    row-gap: var(--space-xl);

    grid-template-areas:
      "A A A B C C"
      "A A A B C C"
      "A A A B I I"
      "D D E E I I"
      "D D E E H H"
      "F F G G H H"
      "F F G G J J"
      "F F G G J J";
  }
}

// NOTE: column-start, column-end, row-start, row-end TAKE IN LINE NUMBERS (not column numbers)
@include media.media(tabletAndUp) {
  .item-a {
    grid-area: A;
    // grid-column-start: 1;
    // grid-column-end: 4;
    // grid-row-start: 1;
    // grid-row-end: 4;
  }

  .item-b {
    //  in it's own file
    grid-area: B;
  }

  .item-c {
    //  in it's own file
    grid-area: C;
  }

  .item-d {
    //  in it's own file
    grid-area: D;
  }

  .item-e {
    //  in it's own file
    grid-area: E;
  }
}
