.page {
  .reader {
    padding: 17%;
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
  }

  #post-content {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
  }

  .reader #readability-page-1 div {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
  }

  .reader #readability-page-1 article {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
  }

  .reader section {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
  }

  .reader p {
    font-size: var(--font-size-l);
    line-height: var(--line-height-reader);
  }

  .reader img {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }

  .reader figcaption {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}