@use "../mixins/media";

.article_headline_summary {
  width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--space-xxxs);

  @include media.media(tabletAndUp) {
    gap: var(--space-xxs);
  }

  .summary {
    width: 100%;
    height: auto;
    overflow: hidden;
    letter-spacing: 0.02em;
  }
}
