@use "../mixins/media";

.article_small_image_headline_summary_preview {
  display: flex;
  gap: var(--space-m);

  .image {
    position: relative;
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;

    img {
      display: block;
      transition: opacity 200ms ease;
      width: var(--space-9xl);
      height: var(--space-9xl);
      aspect-ratio: 1 / 1;
      object-fit: cover;
    }
  }

  a.image {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 200ms ease;
      pointer-events: none;
    }

    // Internal links
    &[href^="http"],
    &[href^="www"] {
      &::before {
        background-color: var(--color-one);
      }

      &:hover::before {
        opacity: 0.5;
      }
    }

    // External links
    &:not([href^="http"]):not([href^="www"]) {
      &::before {
        background-color: var(--color-two);
      }

      &:hover::before {
        opacity: 0.5;
      }
    }
  }

  img {
  }

  .preview {
    --max-lines: 3;
    // max-height: calc(var(--line-height-reader) * var(--max-lines));
    line-height: 1.1em;
    max-height: calc(1.15em * var(--max-lines));
    overflow: hidden;

    @include media.media(tabletAndUp) {
      line-height: var(--line-height-reader);
      max-height: calc(var(--line-height-reader) * var(--max-lines));
    }
  }

  .headline_source_summary_and_preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--space-xxxs);
  }

  .headline {
    font-size: var(--font-size-s);

    @include media.media(tabletAndUp) {
      font-size: var(--font-size-l);
    }
  }
}
