.article_headline_summary {
  width: 100%;
  max-height: 100%;
  display: flex;
  gap: var(--space-s);
  flex-direction: column;
  justify-content: flex-start;
  // margin-bottom: var(--space-l);
  grid-column: span 2;
  grid-row: span 2;

  .summary {
    width: 100%;
    height: auto;
    overflow: hidden;
    letter-spacing: 0.02em;
  }
}
