@use "../mixins/media";

.article_image_headline_summary {
  width: 100%;
  max-height: 100%;
  display: flex;
  gap: var(--space-xxxs);
  flex-direction: column;
  justify-content: flex-start;

  @include media.media(tabletAndUp) {
    gap: var(--space-xxs);
  }

  .image {
    max-height: 13rem;
    width: auto;
    object-fit: cover;
    object-position: center 20%; // left-right top-bottom
  }

  .summary {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
}
