.article_small_image_headline_summary_preview {
  display: flex;
  gap: var(--space-m);

  .image {
    width: var(--space-9xl);
    height: var(--space-9xl);
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }
}

.headline_source_summary_preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--space-xs);
}
