.article_image_headline_summary {
  width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: var(--space-l);

  .image {
    margin-bottom: var(--space-s);
    // max-height: 40%;
    // overflow: clip;
  }

  .headline {
    width: 100%;
    height: auto;
    // max-height: 27.5%;
  }

  .source {
    width: 100%;
    height: auto;
  }

  .summary {
    width: 100%;
    height: auto;

    p {
      overflow: clip;
    }
    // max-height: 27.5%;
  }
}

