.content_menu_bar {
  width: 100%;
  height: var(--space-xl);

  // display: flex;
  // justify-content: space-evenly;
  // align-items: center;

  display: grid;
  grid-template-columns: [left-edge] 1fr [gap1] 1fr [gap2] 1fr [gap3] 1fr [gap4] 1fr [gap5] 1fr [right-edge];
  grid-template-rows: 1fr;
  column-gap: var(--column-gap);
  align-items: center;

  border-bottom: var(--border);
  border-top: var(--border);
  border-radius: var(--border-radius);

  text-transform: uppercase;
}
