.item-b {
  // grid-column-start: 4;
  // grid-column-end: 5;
  // grid-row-start: 1;
  // grid-row-end: 4;
  // grid-area: B;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-left: var(--border);
  border-radius: var(--border-radius);
  padding-left: var(--space-s);
  row-gap: var(--space-m);
}
