@use "../mixins/media";

.pagy.nav {
  width: 100%;
  font-family: var(--font-family-headlines);
  display: flex;
  flex-direction: row;
  gap: var(--space-l);
  justify-content: center;

  @include media.media(tabletAndUp) {
    flex-direction: column;
    align-items: center;
    gap: var(--space-m);
  }

  .current {
    font-weight: bold;
  }

  .another-page {
    color: var(--color-text-muted);
    opacity: 0.3;
  }
}
